<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/mystyle.css">
</head>
<body>
    <a href="/">Home</a>
    <a href="/about">About Us</a>
    <a href="/services">Services</a>
    <div>
        <h2>Welcome to the Home page</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste, quas eaque sequi mollitia nobis dolorum, enim repellat cumque, qui saepe possimus facere neque quia a molestias? Placeat rem ducimus labore!
        </p>
        <img src="/static/laptop.jpg" class="myimage" alt="" srcset="">
        <button type="button" id="btn1">Click Me</button>
    </div>
</body>
<script src="/static/sample.js"></script>
</html>