<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Login</h5>
                    </div>
                    <div class="card-body">
                        <form action="/student/login" method="post">
                            <div class="form-group mb-3">
                                <label for="email">EMAIL</label>
                                <input type="email" class="form-control" name="email"> 
                            </div>
                            <div class="form-group mb-3">
                                <label for="password">PASSWORD</label>
                                <input type="password" class="form-control" name="password"> 
                            </div>
                            <button class="btn btn-primary" >Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/bootstrap.min.js"></script>

</html>