<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 200px;
            padding: 10px;
            color: bisque;
            background-color: black;
        }
    </style>
</head>
<body>
    <h1>WELCOME</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sit optio ullam porro pariatur velit praesentium voluptates expedita? Sed aspernatur alias, sequi quo repudiandae quae nulla eum asperiores nihil architecto.</p>
</body>
</html>