<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">DATA</h5>
                    </div>
                    <div class="card-body">
                        My full name is {{name}}.
                        My email is {{email}}.
                        My mobile no is {{contactno}}.
                        My password is {{password}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/static/js/bootstrap.min.js"></script>
</html>